In [131]:
import operator
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [132]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
636,tt0455824,130000000,49554002,Australia,Nicole Kidman|Hugh Jackman|Essie Davis|David W...,Baz Luhrmann,Welcome to Australia!,"Set in northern Australia before World War II,...",165,Drama,Bazmark Films|Ingenious Film Partners|Twentiet...,11/18/2008,6.3,2008
328,tt1186830,70000000,39041505,Agora,Rachel Weisz|Max Minghella|Oscar Isaac|Ashraf ...,Alejandro AmenÃ¡bar,"Alexandria, Egypt. 391 A.D. The World Changed ...","A historical drama set in Roman Egypt, concern...",127,Adventure|Drama|History,HimenÃ³ptero|Telecinco Cinema|Mod Producciones...,5/17/2009,6.6,2009
489,tt1013860,20000000,4634062,Dylan Dog: Dead of Night,Brandon Routh|Peter Stormare|Sam Huntington|Ta...,Kevin Munroe,No pulse? No problem,"The adventures of supernatural private eye, Dy...",107,Action|Comedy|Horror|Mystery|Science Fiction,Hyde Park Films|platinum studios|Long Distance...,10/26/2010,4.9,2010
1102,tt0322589,18000000,62646763,Honey,Jessica Alba|Mekhi Phifer|Joy Bryant|Romeo Mil...,Bille Woodruff,Her dream. Her terms,Honey Daniels (Jessica Alba) dreams of making ...,94,Music,Universal Pictures|Marc Platt Productions|NuAm...,11/24/2003,6.0,2003
1591,tt0375679,6500000,98410061,Crash,Sandra Bullock|Don Cheadle|Matt Dillon|Michael...,Paul Haggis,You think you know who you are. You have no idea.,Los Angeles citizens with vastly separate live...,112,Drama,Blackfriars Bridge Films|Yari Film Group|Bob Y...,5/28/2004,7.1,2004

In [133]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [134]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# создадим колонку прибыли = сбор - бюджет
data['profit'] = data.revenue - data.budget

# колонка месяца выхода фильма
data.release_date = pd.to_datetime(data.release_date)
data['month'] = data.release_date.dt.month

# создадим колонку длины названий фильмов
data['len_name'] = data.original_title.str.len()

# создадим колонку количества слов в описании
data['words_overview'] = data.overview.apply(lambda c: c.split(sep = ' '))
data['word_count'] = data.words_overview.apply(lambda x: len(x))

# функция для разделения строк на значения
def split_str(str_to_split, df):
    return pd.Series(df[str_to_split].str.cat(sep='|').split('|')).value_counts(ascending=False)

# соберем все жанры фильмов и их встречающееся количество, сортировка по убыванию
all_genres = split_str('genres', data)

# соберем всех режиссеров фильмов и их встречающееся количество, сортировка по убыванию
all_directors = split_str('director', data)

# соберем всех актеров фильмов и их встречающееся количество, сортировка по убыванию
all_actors = split_str('cast', data)

# соберем все компании, создающие фильмов и их встречающееся количество, сортировка по убыванию
all_companies = split_str('production_companies', data)

# соберем возможные пары актеров из всех фильмов
couple_actors = list(combinations(all_actors.index, 2))


#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [135]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [136]:
data[data.budget == data.budget.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name,words_overview,word_count
723,tt1298650,380000000,1021683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011,641683000,5,43,"[Captain, Jack, Sparrow, crosses, paths, with,...",75

ВАРИАНТ 2

In [137]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [138]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [139]:
data[data.runtime == data.runtime.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name,words_overview,word_count
1157,tt0279111,56000000,12923936,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2003-02-21,5.8,2003,-43076064,2,17,"[The, film, centers, mostly, around, the, pers...",48

# 3. Какой из фильмов самый короткий (в минутах)?

In [140]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

In [141]:
data[data.runtime == data.runtime.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name,words_overview,word_count
768,tt1449283,30000000,14460000,Winnie the Pooh,Jim Cummings|Travis Oates|Jim Cummings|Bud Luc...,Stephen Anderson|Don Hall,Oh Pooh.,"During an ordinary day in Hundred Acre Wood, W...",63,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2011-04-13,6.8,2011,-15540000,4,15,"[During, an, ordinary, day, in, Hundred, Acre,...",52

# 4. Какова средняя длительность фильмов?

In [142]:
answers['4'] = '2. 110'

In [143]:
data.runtime.mean()

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [144]:
answers['5'] = '1. 107'

In [145]:
data.runtime.describe() # 50% - медиана

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [146]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

In [147]:
data[data.profit == data.profit.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name,words_overview,word_count
239,tt0499549,237000000,2781505847,Avatar,Sam Worthington|Zoe Saldana|Sigourney Weaver|S...,James Cameron,Enter the World of Pandora.,"In the 22nd century, a paraplegic Marine is di...",162,Action|Adventure|Fantasy|Science Fiction,Ingenious Film Partners|Twentieth Century Fox ...,2009-12-10,7.1,2009,2544505847,12,6,"[In, the, 22nd, century,, a, paraplegic, Marin...",28

# 7. Какой фильм самый убыточный?

In [148]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

In [149]:
data[data.profit == data.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name,words_overview,word_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,"[The, Texas, Rangers, chase, down, a, gang, of...",68

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [150]:
answers['8'] = '1. 1478'

In [151]:
data[data.revenue > data.budget].count()

imdb_id                 1478
budget                  1478
revenue                 1478
original_title          1478
cast                    1478
director                1478
tagline                 1478
overview                1478
runtime                 1478
genres                  1478
production_companies    1478
release_date            1478
vote_average            1478
release_year            1478
profit                  1478
month                   1478
len_name                1478
words_overview          1478
word_count              1478
dtype: int64

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [152]:
answers['9'] = '4. The Dark Knight (tt0468569)'

In [153]:
data2 = data[data.release_year == 2008]
data2[data2.revenue == data2.revenue.max()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name,words_overview,word_count
599,tt0468569,185000000,1001921825,The Dark Knight,Christian Bale|Michael Caine|Heath Ledger|Aaro...,Christopher Nolan,Why So Serious?,Batman raises the stakes in his war on crime. ...,152,Drama|Action|Crime|Thriller,DC Comics|Legendary Pictures|Warner Bros.|Syncopy,2008-07-16,8.1,2008,816921825,7,15,"[Batman, raises, the, stakes, in, his, war, on...",67

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [154]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

In [155]:
data3 = data[(data.release_year >= 2012) &
             (data.release_year <= 2014)]
data3[data3.profit == data3.profit.min()]

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name,words_overview,word_count
1245,tt1210819,255000000,89289910,The Lone Ranger,Johnny Depp|Armie Hammer|William Fichtner|Hele...,Gore Verbinski,Never Take Off the Mask,The Texas Rangers chase down a gang of outlaws...,149,Action|Adventure|Western,Walt Disney Pictures|Jerry Bruckheimer Films|I...,2013-07-03,6.0,2013,-165710090,7,15,"[The, Texas, Rangers, chase, down, a, gang, of...",68

# 11. Какого жанра фильмов больше всего?

In [156]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
answers['11'] = '3. Drama'

In [157]:
all_genres.head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [158]:
answers['12'] = '1. Drama'

In [159]:
for i in all_genres.index:
    all_genres[i] = data.profit[data.genres.str.contains(i)].map(lambda x: 
                                                                 True if x>0 else False).sum()
            
display(all_genres.head(1))

Drama    560
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [160]:
answers['13'] = '5. Peter Jackson'

In [161]:
for i in all_directors.index:
    all_directors[i] = data.revenue[data.director.str.contains(i)].sum()
    
display(all_directors.sort_values(ascending=False).head(1))

Peter Jackson    6490593685
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [162]:
answers['14'] = '3. Robert Rodriguez'

In [163]:
for i in all_directors.index:
    all_directors[i] = data.genres[data.director.str.contains(i)].str.contains('Action').sum()
display(all_directors.sort_values(ascending=False).head(1))

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [164]:
answers['15'] = '3. Chris Hemsworth'

In [165]:
# датафрейм с фильмами за 2012 год
df_year_2012 = data[data.release_year == 2012]

# актеры, снимающиеся в фильмах 2012 года
all_actors_2012 = split_str('cast', df_year_2012)

for i in all_actors_2012.index:
    all_actors_2012[i] = df_year_2012.revenue[df_year_2012.cast.str.contains(i)].sum()
    
display(all_actors_2012.sort_values(ascending=False).head(1))

Chris Hemsworth    2027450773
dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [166]:
answers['16'] = '3. Matt Damon'

In [167]:
# создаем датафрейм высокобюджетных фильмов
high_budget = data[data.budget > data.budget.mean()]

for i in all_actors.index:
    all_actors[i] = high_budget.budget[high_budget.cast.str.contains(i)].count()
    
display(all_actors.sort_values(ascending=False).head(1))

Matt Damon    18
dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [168]:
answers['17'] = '2. Action'

In [169]:
for i in all_genres.index:
    all_genres[i] = data.cast[data.genres.str.contains(i)].str.contains('Nicolas Cage').sum()
    
display(all_genres.sort_values(ascending=False).head(1))

Action    17
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [170]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

In [171]:
data4 = data[data.production_companies.str.contains('Paramount Pictures')]
display(data4[data4.profit == data4.profit.min()])

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,month,len_name,words_overview,word_count
925,tt0267626,100000000,35168966,K-19: The Widowmaker,Harrison Ford|Liam Neeson|Peter Sarsgaard|Joss...,Kathryn Bigelow,Fate has found its hero.,When Russia's first nuclear submarine malfunct...,138,Thriller|Drama|History,Paramount Pictures|Intermedia Films|National G...,2002-07-19,6.0,2002,-64831034,7,20,"[When, Russia's, first, nuclear, submarine, ma...",23

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [172]:
answers['19'] = '5. 2015'

In [173]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).head(1)

release_year
2015    25449202382
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [174]:
answers['20'] = '1. 2014'

In [175]:
data5 = data[data.production_companies.str.contains('Warner Bros')]
data5.groupby(['release_year'])['profit'].sum().sort_values(ascending=False).head(1)

release_year
2014    2295464519
Name: profit, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [176]:
answers['21'] = '4. Сентябрь'

In [177]:
data.groupby(['month'])['profit'].count().sort_values(ascending=False).head(1)

month
9    227
Name: profit, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [178]:
answers['22'] = '2. 450'

In [179]:
data[(data.month == 6)|
     (data.month == 7)|
     (data.month == 8)].groupby(['month'])['imdb_id'].count().sum()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [180]:
answers['23'] = '5. Peter Jackson'

In [181]:
data6 = data[(data.month == 1)|
             (data.month == 2)|
             (data.month == 12)]

for i in all_directors.index:
    all_directors[i] = data6.imdb_id[data6.director.str.contains(i)].count()
    
display(all_directors.sort_values(ascending=False).head(1))

Peter Jackson    7
dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [182]:
answers['24'] = '5. Four By Two Productions'

In [183]:
for i in all_companies.index:
    all_companies[i] = data.len_name[data.production_companies.str.contains(i, regex=False)].mean()
display(all_companies.sort_values(ascending=False).head(1))

Four By Two Productions    83
dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [184]:
answers['25'] = '3. Midnight Picture Show'

In [186]:
for i in all_companies.index:
    all_companies[i] = data.word_count[data.production_companies.str.contains(i, regex=False)].mean()
display(all_companies.sort_values(ascending=False).head(1))

Midnight Picture Show    175.0
dtype: float64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [187]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

In [188]:
data_best = data[['vote_average', 
                  'original_title']].sort_values(by = 'vote_average',ascending= False)
data_best[:round(len(data_best)*0.01)]

      vote_average                                 original_title
599            8.1                                The Dark Knight
118            8.0                                   Interstellar
125            8.0                             The Imitation Game
9              8.0                                     Inside Out
34             8.0                                           Room
1183           7.9                        The Wolf of Wall Street
128            7.9                                      Gone Girl
1191           7.9                               12 Years a Slave
119            7.9                        Guardians of the Galaxy
1081           7.9  The Lord of the Rings: The Return of the King
1800           7.9                                        Memento
370            7.9                                      Inception
872            7.9                                    The Pianist
138            7.9                       The Grand Budapest Hotel
1188           7.8                                            Her
28             7.8                                      Spotlight
124            7.8                                     Big Hero 6
177            7.8                         The Fault in Our Stars
863            7.8          The Lord of the Rings: The Two Towers

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [189]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

In [190]:
counter = {}

data['actors']= pd.Series(data['cast'].str.split('|'))

for i in data.actors:
    for j in list(combinations(i, 2)):
        if j in counter:
            counter[j] += 1
        else:
            counter[j] = 1

sorted_x = sorted(counter.items(), key=operator.itemgetter(1))    
display(sorted_x[-2:])

[(('Daniel Radcliffe', 'Rupert Grint'), 8),
 (('Daniel Radcliffe', 'Emma Watson'), 8)]

ВАРИАНТ 2

# Submission

In [191]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [192]:
# и убедиться что ни чего не пропустил)
len(answers)

27